.wrapper{
	// width: calc(4 * var(--width));
	// height: calc(4 * var(--height));
	// display: flex;
	// justify-content: center;
	// align-items: center;
    // border: 2px solid red;
}

.button{

    font-family: 'Poppins', sans-serif;
    margin-right: 1.5%;
    cursor:pointer;
    display: flex;
    padding: 8px 16px;
    text-decoration: none;
    font-size: 1vw;
    color: #fff;
    background-color: transparent;
    transition: all 1s;
    /* box-shadow: 1px 1px 0 rgba(255, 255, 255, 0.971);  */
    border: 1px solid rgb(64, 64, 64);
    white-space: nowrap; 
    font-weight: 900;
    position:relative;
    border-radius: 3px; 
    align-items: center; 
    justify-content: center; 
    overflow: hidden;
	transition: all 0.1s cubic-bezier(0, 0.22, .3, 1);
	
	&:before{
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: rgba(0,0,0,0.1);
	}

	span{
		z-index: 10;
	}

	.back{
		position: absolute;
		width: 0px;
		height: 0px;
		border-radius: 50%;
		z-index: 5;
		transition: all 2s cubic-bezier(0.1, 0.22, .3, 1);
	}

	&._1 .back{
		left: -50%;
		top: -50%;
		background: #3A86FF;
	}
	&._2 .back{
		right: -50%;
		bottom: -50%;
		background: #FB5607;
	}
	&._3 .back{
		left: -110%;
		top: -50%;
		background: #bf9900;
	}
	&._4 .back{
		right: -50%;
		bottom: -50%;
		background: #2b912b;
	}
	&._5 .back{
		right: -50%;
		top: -50%;
		background: #FF006E;
	}
	&._6 .back{
		right: -50%;
		bottom: -50%;
		background: #3a85ff8e;
	}

	&:hover .back{
		width: calc(2 * 150px);
		height: calc(2 * 300px);
	}
}

@media only screen and (max-width: 750px) {
	.button{
		// margin: 0.8rem 0;
	}
}