.wrapper{
	// width: calc(4 * var(--width));
	// height: calc(4 * var(--height));
	// display: flex;
	// justify-content: center;
	// align-items: center;
    // border: 2px solid red;
}


.down {
    color: black;
}

.comparisons,
.a,
.button{

    font-family: 'Poppins', sans-serif;
    margin-right: 2.5%;
    cursor:pointer;
    display: flex;
    padding: 6px 55px;
    text-decoration: none;
    font-size: 15px;
    color: #fff;
    background-color: transparent;
    transition: all 1s;
	box-shadow: rgba(99, 99, 99, 0.2) 0px 1px 3px 0px;
    border: none;
    white-space: nowrap; 
    font-weight: 900;
    position:relative;
    border-radius: 10px; 
    align-items: center; 
    justify-content: center; 
    overflow: hidden;
	transition: all 0.1s cubic-bezier(0, 0.22, .3, 1);
	
	&:before{
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: rgba(0,0,0,0.1);
		// background: rgba(188, 175, 175, 0.1);
	}

	&._none {
		padding: 3px 3%;
		margin: auto;
		margin-top: 0%;
		text-align: center;
		box-shadow: rgba(99, 99, 99, 0.2) 0px 1px 1px 1px;
	}

	span{
		z-index: 10;
	}

	.back{
		position: absolute;
		width: 0px;
		height: 0px;
		border-radius: 50%;
		z-index: 5;
		transition: all 0.7s cubic-bezier(0.1, 0.22, .3, 1);
	}

	&._1 .back{
		left: -50%;
		top: -50%;
		background: #3A86FF;
	}
	&._2 .back{
		right: -50%;
		bottom: -50%;
		background: #FB5607;
	}
	&._3 .back{
		left: -70%;
		top: -50%;
		background: #bf9900;
	}
	&._4 .back{
		right: -20%;
		bottom: -50%;
		background: #2b912b;
	}
	&._5 .back{
		right: -50%;
		top: -50%;
		background: #FF006E;
	}
	&._6 .back{
		right: -50%;
		bottom: -50%;
		background: #3a85ff8e;
	}

    &._7 .back{
		right: -150%;
		bottom: -10%;
		background: #ff3333;
	}

	&:hover .back{
		width: calc(2 * 150px);
		height: calc(2 * 300px);
	}
}

a.button {
	border: none;
}

.comparison {
	display: flex;
	margin: auto;
	border-radius: 5px;
}

.comparisons:hover {
	cursor:auto;
}

.comparison {
	// border: 2px solid red;
    display: inline-block;
    vertical-align: middle;
    padding: 5px; 
}

.separator {
    display: inline-block;
    background-color: #aaa; 
    width: 1px; 
    height: 50%;
    vertical-align: middle;
}

@media only screen and (max-width: 750px) {
	.button{
		// margin: 0.8rem 0;
	}
}




// .btn-3d.colorful.regular {
// 	min-width: 145px;
// 	position: relative;
// 	top: -2px;
// 	margin-right: 60px;
//   }
  
//   .btn-3d.regular.colorful.speed {
// 	min-width: 90px;
// 	margin-right: 60px;
//   }
  
//   .btn-3d.regular.comparisons {
// 	pointer-events: none;
// 	min-width: 200px;
// 	max-width: 10vw;
// 	width: 2vw;
// 	position: relative;
// 	margin-right: 20px;
// 	font-size: 1vw; 
  
// 	margin-right: 1%;
// 	white-space: nowrap;
// 	flex: 1 1 auto;
//   }

//   .btn-3d {
// 	position: relative;
// 	display: inline-block;
// 	padding: 5px 20px 5px 20px;
// 	color: white;
//   font-weight: 500;
// 	text-align: center;
// 	transition: top .01s linear;
// 	text-shadow: 0 1px 0 rgba(0,0,0,0.15);
//   border-radius: 5px;
//   border: 1px solid transparent;
// }

// /* 3D button colors */
// .btn-3d.regular {
//   border: 1px solid rgb(64, 64, 64);
//   box-sizing: border-box;
// 	background-color: #1a1a1a;

// 	/* box-shadow: 0 0 0 1px #1a1a1a inset,
//         0 0 0 2px rgba(255,255,255,0.15) inset,
//         0 8px 0 0 #1a1a1a,
//         0 8px 0 1px rgba(0,0,0,0.4),
// 				0 8px 8px 1px rgba(51, 26, 26, 0.5); */
//   margin-right: 20px;
// }

// .btn-3d.regular:hover {
//   /* border-color: #be64ff; */
//   cursor: pointer;
// }

// .btn-3d.regular:active {
//   top: 9px;
//   background: linear-gradient(253deg, var(--gradcolor1), var(--gradcolor2), var(--gradcolor3));
//   background-size: 600% 600%;
//   animation: AnimationName 7s ease infinite;
// }

// .btn-3d.regular:active {
// 	box-shadow: 0 0 0 1px #1a1a1a inset,
// 				0 0 0 2px rgba(255,255,255,0.15) inset,
// 				0 0 0 1px rgba(0,0,0,0.4);
// }

// .colorful {
//   text-align: center;
//   /* border-radius: 8px;
//   border: 1px solid transparent; */
//   font-size: 1em;
//   font-weight: 500;
//   background-color: #1a1a1a;
//   /* transition: border-color 0.25s;
//   color: white; */
//   /** Animations */
//   /* background: linear-gradient(253deg, var(--gradcolor1), var(--gradcolor2), var(--gradcolor3)); */
//   background-size: 600% 600%;
//   animation: AnimationName 7s ease infinite;
//   pointer-events: none;
// }