@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,800;1,900&display=swap');

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --gradcolor1: #ec0000;
  --gradcolor2: #cd24ff;
  --gradcolor3: #4600a6;
  overflow-x: hidden;
  background-color: #171717;
}

.hidden {
  display: none !important
}

body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  margin: 0;
}

buttonGroup::-webkit-scrollbar {
  width: 1px; /* Change width of vertical scrollbar */
  height: 1px; /* Change height of horizontal scrollbar */
}

li {
  margin-bottom: 3px;
}

.btn-container, .container {
  border-radius: 4px;
  text-align: center;
  margin-right: 20px;
}

.buttonContainer {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  left: 30px;
}

button[class*="btn"] {border: 1;}

/* 3D Button */
.btn-3d {
	position: relative;
	display: inline-block;
	padding: 5px 20px 5px 20px;
	color: white;
  font-weight: 500;
	text-align: center;
	transition: top .01s linear;
	text-shadow: 0 1px 0 rgba(0,0,0,0.15);
  border-radius: 8px;
  border: 1px solid transparent;
}

/* 3D button colors */
.btn-3d.regular {
  box-sizing: border-box;
	background-color: #1a1a1a;
	box-shadow: 0 0 0 1px #1a1a1a inset,
        0 0 0 2px rgba(255,255,255,0.15) inset,
        0 8px 0 0 #1a1a1a,
        0 8px 0 1px rgba(0,0,0,0.4),
				0 8px 8px 1px rgba(51, 26, 26, 0.5);
  margin-right: 20px;
}

.btn-3d.regular:hover {
  /* border-color: #be64ff; */
  cursor: pointer;
}

.btn-3d.regular.down {
	top: 9px;
  background: linear-gradient(253deg, var(--gradcolor1), var(--gradcolor2), var(--gradcolor3));
  background-size: 600% 600%;
  animation: AnimationName 7s ease infinite;
  box-shadow: 0 0 0 1px #1a1a1a inset,
  0 0 0 2px #242424 inset,
  0 8px 0 0 #242424,
  0 8px 0 1px #242424,
  0 8px 8px 1px #242424;
}

.btn-3d.regular:active {
  top: 9px;
  background: linear-gradient(253deg, var(--gradcolor1), var(--gradcolor2), var(--gradcolor3));
  background-size: 600% 600%;
  animation: AnimationName 7s ease infinite;
}

.btn-3d.regular:active {
	box-shadow: 0 0 0 1px #1a1a1a inset,
				0 0 0 2px rgba(255,255,255,0.15) inset,
				0 0 0 1px rgba(0,0,0,0.4);
}

.colorful {
  text-align: center;
  /* border-radius: 8px;
  border: 1px solid transparent; */
  font-size: 1em;
  font-weight: 500;
  background-color: #1a1a1a;
  /* transition: border-color 0.25s;
  color: white; */
  /** Animations */
  /* background: linear-gradient(253deg, var(--gradcolor1), var(--gradcolor2), var(--gradcolor3)); */
  background-size: 600% 600%;
  animation: AnimationName 7s ease infinite;
  pointer-events: none;
}

.arrayContainer {
  /* border: 2px solid white; */
  background-color: #1d1d1d;
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 0%;
  top: 0%;
  height: 100vh; /* This value should be 100vh to fill the entire viewport height */
  border-right: solid 1.5px #0c0c0c;
  width: 80%;
}

.codeArea {
  background: #171717;
  color: white;
  position: fixed;
  left: 78.5%; 
  top: 0;
  right: 0;
  overflow: auto;
  height: 96.5vh;
  width: 20%; /* changed to original value, as per previous conversation */
  display: flex;
  flex-direction: column;
  margin-left: 1.5%;
  /* border: 2px solid red; */
}

.description {
  /* border: 2px solid red; */
  color: white;
  font-size: 12.5px;
  margin-top: 0;
  width: 95%;
  height: 61%;
  max-height: 100%;
  margin-left: 2.5%;
  margin-top: 5%;
  overflow: auto; /* Add scrollbars if content overflows */
}

.description.intro {
  /* border: 2px solid blue; */
  font-size: 14px;
  height: 100%;
  max-height: 100%;
}

.description.merge {
  /* border: 2px solid blue; */
  font-size: 12.5px;
  height: 63%;
  max-height: 63%;
}

.description.heap {
  /* border: 2px solid blue; */
  font-size: 12.5px;
  height: 73%;
  max-height: 73%;
}

.actualCode {
  /* border: 2px solid blue; */
  width: 95%;
  margin-left: 2.5%;
  color: white;
  font-size: 12.5px;
  height: 31.5%;
  overflow-y: auto;
}

.actualCode.noCode {
  /* border: 2px solid red; */
  height: 0%;
}

.actualCode.merge {
  /* border: 2px solid purple; */
  padding-top: 3.5vh;
  height: 85vh;
}

.explanation {
  text-align: center;
  margin-top: 3%;
  height: 21%;
  width: 100%;
  margin-left: 2.5%;
  width: 95%;
  /* border: 2px solid purple; */
  overflow: auto;
}

.explanation.about-us {
  flex-grow: 1;
  overflow: hidden; 
  /* border: 2px solid purple; */
  padding-top: 4vh; 
}

.explanation.merge {
  margin-top: 0vh; 
  height: 12%;
  /* border: 2px solid red; */
}

code {
  /* border: 2px solid red; */
}

.arrayBars {
  /* border: 2px solid blue; */
  transform: rotateX(180deg);
  display: flex;
  justify-content: left;
  position: relative;
  top: 1%;
  left: 1%;
  height: 75%; /* This value should be 80% to fill 80% of the arrayContainer div */
  width: 98.2%; /* Add width of 100% to fill the entire parent div */
}

.arrayBar {
  width: 10.5px;
  display: inline-block;
  margin: 0 2px 0 0;
}

.buttons {
  left: 20px; /* adjust as needed */
  top: -1.5%;
  width: calc(100% - 40px); /* subtract the total left and right margins */
  height: 13%;
  position: relative;
  /* border: 2px solid white; */
  transform: translateY(15%);
}

.buttonGroup {
  /* border: 2px solid red; */
  margin-left: 0;
  margin-top: -0.5%;
  display: flex;
  flex-wrap: wrap;
  padding: 9px; /* Adjust this value to fit your design */
  padding-right: 30px;
  width: calc(100% - 60px); /* Subtract double the padding from the width */
  height: 100%;
  font-size: 17px;
  overflow-x: auto;
}

.cta {
  font-family: 'Poppins', sans-serif;
  margin-left: 3%;
  margin-top: 3%;
  display: flex;
  padding: 5px 20px;
  text-decoration: none;
  font-size: 20px;
  color: rgb(233, 233, 233);
  background-color: rgb(26, 26, 26);
  transition: 1s;
  box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.5); 
  transform: skewX(-7deg);
  border-top: 3px solid rgb(42, 42, 42); 
  border-right: 3px solid rgb(22, 22, 22); 
  border-bottom: 3px solid rgb(12, 12, 12); 
  border-left: 0.5px solid rgb(32, 32, 32);
  white-space: nowrap; 
  font-weight: 900;
  /* border-radius: 5px; */
  align-items: center; /* aligns the image and the text vertically in the center */
  justify-content: center; /* space out the elements inside the button */
}

.cta:not(:last-child) {
  margin-right: 3%;
}

.settings {
  display: flex;
  flex-wrap: nowrap;  
  align-items: center;
  position: absolute;
  width: calc(100% - 90px); /* subtract the total left and right margins */
  height: 5vh;
  bottom: -3%;  /* adjust as needed */
  left: 60px;  /* adjust as needed */
  font-size: 17px;
  /* border: 2px solid purple; */
  overflow-x: auto;
  overflow-y: hidden;
}

.cta.img {
  margin-right: 2%; 
  margin-bottom: 1%;
  padding: 5px 6px 6px 7px;
  transform: skewX(0deg);
  border-radius: 25%;
  box-shadow: 0px 0px 3px 0px rgba(17, 17, 17, 0.5);
}

.cta.sorting {
  font-family: 'Poppins', sans-serif;
  font-weight: 800;
  margin: 0;
  text-align: center;
  font-size: 1vw; 
  margin-right: 2.5%;
  white-space: nowrap;
  flex: 1 1 auto;
}

.cta.sorting:last-child {
  margin-right: 0;
}

.cta:focus {
   outline: none; 
}

.cta:hover {
    transition: 0.5s;
    background-color: rgb(255, 255, 255);
    color: black;
}

.cta.img:hover {
  box-shadow: 0px 0px 0px 1px #FF00FF;
}

.cta span:nth-child(2) {
    transition: 0.5s;
    margin-right: 0px;
}

.cta:hover  span:nth-child(2) {
    transition: 0.5s;
    margin-right: 45px;
}

button:hover {
  background-color: linear-gradient(45deg, #FBC638, #FF6363, #00C6FF, #FF00FF, #FBC638);
  background-size: 500% 500%;
  animation: AnimationName 3s ease infinite;
  -webkit-backgrxound-clip: text;
  /* -webkit-text-fill-color: transparent; */
}

.cta:hover path.three {
    animation: color_anim 1s infinite 0.2s;
}

.cta:hover path.one {
    transform: translateX(0%);
    animation: color_anim 1s infinite 0.6s;
}

.cta:hover path.two {
    transform: translateX(0%);
    animation: color_anim 1s infinite 0.4s;
}

/** Scrolling bar */
.scrollableRangeContainer {
  position: relative;
  top: 0px;
}

.scrollableRange {
  display: flex;
  align-items: center;
  position: relative;
  top: -13px;
  margin-right: 20px;
}

.scrollableRange input {
  width: 140px;
}

.pp {
  box-sizing: border-bx;
  position: relative;
  width: 100px;
  top: -2px;
}

.btn-3d.colorful.regular {
  min-width: 145px;
  position: relative;
  top: -2px;
  margin-right: 60px;
}

.btn-3d.regular.colorful.speed {
  min-width: 90px;
  margin-right: 60px;
}

.btn-3d.regular.comparisons {
  pointer-events: none;
  min-width: 200px;
  position: relative;
  top: -2px;
  margin-right: 20px;
}

@keyframes AnimationName {
  0% {
    background-position: 50% 0%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 50% 0%;
  }
}

.cta-image {
  position: relative;
  z-index: 2;
  height: 30px;
  width: 30px;
}

.footerStyle {
  background-color: #131313;
  padding-bottom: 25px;
  padding-top: 5px;
  color: #ffffff;
  text-align: center;
  left: 0%;
  bottom: 0%;
  height: 2%;
  width: 100%;
  font-size: 13px;
  position: fixed;
  z-index: 1;
}

.wrapper.buttons {
  display: flex;
  justify-content: start; /* align items to the start */
  align-items: center; /* center items vertically */
  width: 100%;
}

.wrapper.noButtons {
  /* border: 2px solid blue; */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: auto;
}

@keyframes color_anim {
    0% {
        fill: white;
    }
    50% {
        fill: #FBC638;
    }
    100% {
        fill: white;
    }
}

@media only screen and (max-width: 1350px) {
  .cta.sorting {
    font-size: 15px;
  }
  .explanation.about-us {
    padding-top: 1vh; /* adjust this value as needed */
  }
}